<h1>FOR LOOP CONTEXTUAL VARIABLE</h1>

@for (user of users; track user) {
  let i = $index;
  let f = $last;

  <h4>{{$first}}</h4> 
  
  
  <h4>{{$last}}</h4>

  

  <h3>This is our {{$index + 1}} user {{user}} : {{$first}} : {{$last}}</h3>

  @if ($first) {
    <h4 style="background-color: palevioletred">This is our first user {{$first}}</h4>
  }
  @else if ($last) {
    <h4 style="background-color: aqua">This is our last user</h4>
  }
  @else {
    <h4 style="background-color: gold">This is our middle user</h4>
  }
}


@for (user of users; track user; let i = $index) {
  <h4>{{i}}</h4>
}

<hr>

@for (user of users; track user) {
  @if ($odd) {
    <h3 style="background-color: pink">This is odd user index</h3>
  }
  @else if ($even) {
    <h3 style="background-color: gold">This is even user</h3>
  }

  <h1>The count is {{$count}}</h1>
}

<hr>


@for (i of usev; track i) {
  
}
@empty {
  <h1>NO record found in  usev</h1>
}
<!--jab humara khali hota hai array ya kuch bhi content tab  @empty ka use hota hai wo batata hai ke wo bikul empty tha-->
